body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background-color: #252222;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
  color: white;
}
h2 {
  margin-bottom: 20px;
  color: #4CAF50;
}
.controls {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 420px;
  margin: 0 auto;
}
.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  perspective: 600px;
  cursor: pointer;
}


.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}


.card:not(.flipped) .card-inner {
  transform: rotateY(180deg);
}

.card-front img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.card-front {
  background-color: #4CAF50;
  color: white;
}

.card-back {
  background-color: #e0e0e0;
  transform: rotateY(180deg);
}

#score {
  font-size: 1rem;
  color: #4CAF50;
  margin-bottom: 20px;
  gap: 10px ;
}

footer {
  margin-top: 20px;
  color: #9f9d9d;
}
/* === Diseño adaptativo para celulares === */
@media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 10px;
  }

  .card {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .card-front img {
    width: 70%;
    height: 70%;
  }

  header h2, h1 {
    font-size: 1.2rem;
    color: white;
  }

  .controls {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .controls button, .controls span {
    font-size: 1rem;
  }

  nav a {
    display: inline-block;
    margin: 5px;
    font-size: 0.9rem;
    color: #18871c;
    text-decoration: none;
    
  }
}